{% extends 'base.html.twig' %}

{% block title %}Rooms{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for rooms in room %}

                    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                        <div class="my-3 p-3">
                            <h2 class="display-5">{{ rooms.Name }}</h2>
                            <a href="#">Boeken</a>
                        </div>
                        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                            <img src="{{ vich_uploader_asset(rooms, 'imageFile') }}" alt="">
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}